USE [master]
GO
/****** Object:  Database [p3g2]    Script Date: 11/06/2020 23:31:55 ******/
CREATE DATABASE [p3g2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'p3g2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLSERVER\MSSQL\DATA\p3g2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'p3g2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLSERVER\MSSQL\DATA\p3g2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [p3g2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [p3g2]
GO
/****** Object:  User [p3g2]    Script Date: 11/06/2020 23:31:56 ******/
CREATE USER [p3g2] FOR LOGIN [p3g2] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [p3g2]
GO
/****** Object:  Schema [agenda]    Script Date: 11/06/2020 23:31:56 ******/
CREATE SCHEMA [agenda]
GO
/****** Object:  Schema [company]    Script Date: 11/06/2020 23:31:56 ******/
CREATE SCHEMA [company]
GO
/****** Object:  Schema [eletronica_de_medicamentos]    Script Date: 11/06/2020 23:31:56 ******/
CREATE SCHEMA [eletronica_de_medicamentos]
GO
/****** Object:  Schema [gestao_stock]    Script Date: 11/06/2020 23:31:56 ******/
CREATE SCHEMA [gestao_stock]
GO
/****** Object:  Schema [prescricao]    Script Date: 11/06/2020 23:31:56 ******/
CREATE SCHEMA [prescricao]
GO
/****** Object:  Schema [reserva_de_voos]    Script Date: 11/06/2020 23:31:56 ******/
CREATE SCHEMA [reserva_de_voos]
GO
/****** Object:  Schema [universidade]    Script Date: 11/06/2020 23:31:56 ******/
CREATE SCHEMA [universidade]
GO
/****** Object:  UserDefinedFunction [agenda].[adulto_e]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--adulto é encarregado
create function [agenda].[adulto_e] (@nome varchar(70), @nasc date, @phone numeric(9)) returns int
as
	begin
		if(select count(*) from agenda.encarregado join agenda.aluno on id=id_aluno where nome=@nome and nasc=@nasc and parent_phone=@phone) = 0
			begin
				return 0
			end
		return 1
	end
GO
/****** Object:  UserDefinedFunction [agenda].[adulto_p]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--parentesco adulto
create function [agenda].[adulto_p] (@nome varchar(70), @nasc date, @phone numeric(9)) returns varchar(10)
as
	begin
		declare @res varchar(10)
		select @res = parentesco from agenda.parente join agenda.aluno on id=id_aluno where nome=@nome and nasc=@nasc and parent_phone=@phone
		return @res
	end
GO
/****** Object:  UserDefinedFunction [agenda].[adulto_pl]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [agenda].[adulto_pl] (@nome varchar(70), @nasc date, @phone numeric(9)) returns int
as
	begin
		if(select count(*) from agenda.levantado join agenda.aluno on id=id_aluno where nome=@nome and nasc=@nasc and parent_phone=@phone) = 0
			begin
				return 0
			end
		return 1
	end
GO
/****** Object:  UserDefinedFunction [agenda].[aluno_psl]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--aluno pode ser levantado
create function [agenda].[aluno_psl] (@id int) returns int
as
	begin
		if(select count(*) from agenda.levantado where id_aluno = @id) = 0
			begin
				return 0
			end
		return 1
	end
GO
/****** Object:  UserDefinedFunction [agenda].[aluno_pt]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--aluno pertence a turma
create function [agenda].[aluno_pt] (@id int) returns int
as
	begin
		if(select count(*) from agenda.pertence_turma where id_aluno = @id) = 0
			begin
				return 0
			end
		return 1
	end
GO
/****** Object:  UserDefinedFunction [agenda].[aluno_ta]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--aluno tem atividade
create function [agenda].[aluno_ta] (@id int) returns int
as
	begin
		if(select count(*) from agenda.tem where id_aluno = @id) = 0
			begin
				return 0
			end
		return 1
	end
GO
/****** Object:  UserDefinedFunction [agenda].[aluno_te]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--aluno tem encarregado
create function [agenda].[aluno_te] (@id int) returns int
as
	begin
		if(select count(*) from agenda.encarregado where id_aluno = @id) = 0
			begin
				return 0
			end
		return 1
	end
GO
/****** Object:  UserDefinedFunction [agenda].[aluno_tp]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--aluno tem parente
create function [agenda].[aluno_tp] (@id int) returns int
as
	begin
		if(select count(*) from agenda.parente where id_aluno = @id) = 0
			begin
				return 0
			end
		return 1
	end
GO
/****** Object:  UserDefinedFunction [agenda].[aluno_vv]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--aluno vai a visita
create function [agenda].[aluno_vv] (@id int) returns int
as
	begin
		if(select count(*) from agenda.vai where id_aluno = @id) = 0
			begin
				return 0
			end
		return 1
	end
GO
/****** Object:  UserDefinedFunction [company].[avgSal]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [company].[avgSal] (@dnum INT) returns @vencimento table(
	nome varchar(30),
	ssn decimal,
	salary real
)
as
	begin
		insert @vencimento (nome, ssn, salary)
	
			select concat(Fname, ' ', Minit, '. ', Lname) as nome, Ssn, Salary
			from employee
			where Dno = @dnum
				and Salary > (select avg(Salary) from employee where Dno = @dnum);

		return;
	end
GO
/****** Object:  UserDefinedFunction [company].[worker_project]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--a)
--create proc company.del_workers
--	@ssn_del int
--as
--	begin
--		select concat(Fname, ' ', Minit, ' ', Lname) as nome from employee where Ssn = @ssn_del
--		delete from company.works_on where Essn = @ssn_del
--		delete from company.employee where nome = Dependent_name
--	end
--go
--exec company.Del_workers 1;
--go
--b)
--alter proc company.gestores
--	@man_ssn int output,
--	@man_anos int output
--as
--	begin
--		select concat(Fname, ' ', Minit, ' ', Lname) as Nome, Ssn
--		from company.employee;
--		select top 1 @man_ssn = Mgr_ssn, @man_anos = datediff(year, Mgr_start_date, '2020-5-17')
--		from company.department
--		order by Mgr_start_date;
--	end
--go
--exec company.gestores;
--go
--c)
--create trigger gestor_mult on department
--after insert, update
--as
--	select count(*) as c from department join inserted on department.Mgr_ssn = inserted.Mgr_ssn
--	if c > 0
--		begin
--			raiserror ('Ja e gestor');
--			rollback tran;

----d)
--create trigger funcionario on employee
--after insert, update
--as
--	declare @salario as real
--	select @salario = salary from inserted;
--	select salary as sal from employee join department on inserted.Dno = Dnumber
--	where Mgr_ssn = Ssn;
--	if @salario >= sal
--		begin
--			update employee set Salary = sal-1 where Ssn = inserted.Ssn

----e)
create function [company].[worker_project] (@int INT) returns @name_location table(
	number int,
	plocation varchar(50)
)
as
	begin
		insert @name_location (number, plocation)
		select project.Pnumber, project.Plocation from works_on, project
		where @int = works_on.Essn and works_on.Pno = project.Pnumber;

		return;
	end
GO
/****** Object:  Table [agenda].[adulto]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [agenda].[adulto](
	[nome] [varchar](70) NOT NULL,
	[morada] [varchar](100) NOT NULL,
	[phone] [numeric](9, 0) NOT NULL,
	[hphone] [numeric](9, 0) NULL,
	[wphone] [numeric](9, 0) NULL,
	[email] [varchar](50) NULL,
	[ltrabalho] [varchar](100) NULL,
	[profissao] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [agenda].[aluno]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [agenda].[aluno](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](70) NOT NULL,
	[morada] [varchar](100) NOT NULL,
	[nasc] [date] NOT NULL,
	[problemas] [varchar](100) NULL,
	[medicacao] [varchar](100) NULL,
	[restricao] [varchar](100) NULL,
	[antipiretico] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [agenda].[ano]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [agenda].[ano](
	[ano] [varchar](9) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ano] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [agenda].[atividade]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [agenda].[atividade](
	[nome] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[nome] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [agenda].[encarregado]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [agenda].[encarregado](
	[id_aluno] [int] NOT NULL,
	[parent_phone] [numeric](9, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_aluno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [agenda].[grau]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [agenda].[grau](
	[grau] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[grau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [agenda].[levantado]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [agenda].[levantado](
	[id_aluno] [int] NOT NULL,
	[parent_phone] [numeric](9, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_aluno] ASC,
	[parent_phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [agenda].[logins]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [agenda].[logins](
	[username] [varchar](100) NOT NULL,
	[pass] [varchar](128) NOT NULL,
	[tipo] [varchar](64) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [agenda].[orientado]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [agenda].[orientado](
	[nome] [varchar](30) NOT NULL,
	[id_prof] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[nome] ASC,
	[id_prof] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [agenda].[parente]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [agenda].[parente](
	[id_aluno] [int] NOT NULL,
	[parent_phone] [numeric](9, 0) NOT NULL,
	[parentesco] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_aluno] ASC,
	[parent_phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [agenda].[pertence_turma]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [agenda].[pertence_turma](
	[id_aluno] [int] NOT NULL,
	[id_turma] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_aluno] ASC,
	[id_turma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [agenda].[professor]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [agenda].[professor](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](70) NOT NULL,
	[phone] [numeric](9, 0) NOT NULL,
	[email] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [agenda].[tem]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [agenda].[tem](
	[id_aluno] [int] NOT NULL,
	[nome] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_aluno] ASC,
	[nome] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [agenda].[turma]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [agenda].[turma](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[grau] [int] NOT NULL,
	[ano] [varchar](9) NOT NULL,
	[id_prof] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [agenda].[vai]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [agenda].[vai](
	[id_aluno] [int] NOT NULL,
	[visita] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_aluno] ASC,
	[visita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [agenda].[visita]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [agenda].[visita](
	[nome] [varchar](100) NOT NULL,
	[data] [date] NOT NULL,
	[partida] [time](7) NOT NULL,
	[chegada] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[data] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [company].[department]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [company].[department](
	[Dname] [varchar](25) NOT NULL,
	[Dnumber] [int] NOT NULL,
	[Mgr_ssn] [decimal](9, 0) NULL,
	[Mgr_start_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Dnumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [company].[dependent]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [company].[dependent](
	[Essn] [decimal](9, 0) NOT NULL,
	[Dependent_name] [varchar](100) NOT NULL,
	[Sex] [char](1) NULL,
	[Bdate] [date] NULL,
	[Relationship] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Essn] ASC,
	[Dependent_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [company].[dept_location]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [company].[dept_location](
	[Dnumber] [int] NOT NULL,
	[Dlocation] [varchar](60) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Dnumber] ASC,
	[Dlocation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [company].[employee]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [company].[employee](
	[Fname] [varchar](15) NOT NULL,
	[Minit] [char](1) NULL,
	[Lname] [varchar](20) NOT NULL,
	[Ssn] [decimal](9, 0) NOT NULL,
	[Bdate] [date] NULL,
	[Address] [varchar](60) NULL,
	[Sex] [char](1) NULL,
	[Salary] [decimal](11, 2) NULL,
	[Super_ssn] [decimal](9, 0) NULL,
	[Dno] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Ssn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [company].[project]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [company].[project](
	[Pname] [varchar](20) NOT NULL,
	[Pnumber] [int] NOT NULL,
	[Plocation] [varchar](60) NULL,
	[Dnum] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Pnumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [company].[works_on]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [company].[works_on](
	[Essn] [decimal](9, 0) NOT NULL,
	[Pno] [int] NOT NULL,
	[Hours] [decimal](6, 1) NULL,
PRIMARY KEY CLUSTERED 
(
	[Essn] ASC,
	[Pno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ALUGUER]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALUGUER](
	[Duracao] [int] NOT NULL,
	[Data] [date] NOT NULL,
	[Numero] [varchar](30) NOT NULL,
	[Titular] [char](9) NOT NULL,
	[Objeto] [varchar](8) NOT NULL,
	[Localizaçao] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Numero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ARTIGO]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ARTIGO](
	[Titulo] [varchar](256) NULL,
	[Nr_registo] [varchar](20) NOT NULL,
	[Autor] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Nr_registo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AUTOR]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUTOR](
	[Nome] [varchar](100) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Instituiçao] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BALCAO]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BALCAO](
	[Nome] [varchar](30) NULL,
	[Numero] [varchar](10) NOT NULL,
	[Endereço] [varchar](240) NULL,
PRIMARY KEY CLUSTERED 
(
	[Numero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[Nome] [varchar](240) NOT NULL,
	[Address] [varchar](240) NULL,
	[Num_carta] [char](9) NOT NULL,
	[NIF] [char](9) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NIF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMPROVATIVO]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPROVATIVO](
	[Ref_transaçao] [varchar](19) NOT NULL,
	[Custo] [money] NULL,
	[Local] [varchar](256) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Ref_transaçao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Conferencia]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conferencia](
	[Id_Conf] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Conf] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ENCOMENDA]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENCOMENDA](
	[N_encomenda] [int] NOT NULL,
	[Data] [date] NOT NULL,
	[Fornecedor] [char](9) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[N_encomenda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FORNECEDOR]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FORNECEDOR](
	[Endereço] [varchar](20) NOT NULL,
	[Nome] [varchar](30) NOT NULL,
	[NIF] [char](9) NOT NULL,
	[FAX] [char](12) NULL,
	[Payment_Cond] [varchar](256) NULL,
	[Tipo] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NIF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hello]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hello](
	[MsgID] [int] NOT NULL,
	[MsgSubject] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MsgID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hello1]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hello1](
	[MsgID] [int] NOT NULL,
	[MsgSubject] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MsgID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INSTITUIÇAO]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INSTITUIÇAO](
	[Nome] [varchar](100) NOT NULL,
	[Endereço] [varchar](256) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Nome] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LIGEIRO]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIGEIRO](
	[Num_lugares] [int] NOT NULL,
	[Portas] [int] NOT NULL,
	[Combustivel] [varchar](12) NOT NULL,
	[Codigo] [varchar](10) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LISTA_DE_ARTIGOS]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LISTA_DE_ARTIGOS](
	[Conf] [varchar](10) NOT NULL,
	[Artigos] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Conf] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LISTA_DE_PARTICIPANTES]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LISTA_DE_PARTICIPANTES](
	[Conf] [varchar](10) NOT NULL,
	[Email] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Conf] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PARTICIPANTE]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARTICIPANTE](
	[Nome] [varchar](256) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Morada] [varchar](256) NULL,
	[Comprovativo] [varchar](19) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PESADO]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PESADO](
	[Peso] [int] NULL,
	[Passageiros] [int] NULL,
	[Codigo] [varchar](10) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUTO]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUTO](
	[Nome] [varchar](30) NULL,
	[Preço] [varchar](16) NULL,
	[Codigo] [varchar](20) NOT NULL,
	[IVA] [int] NULL,
	[N_Unidades] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SIMILARIDADE]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIMILARIDADE](
	[CodigoX] [varchar](10) NOT NULL,
	[CodigoY] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CodigoX] ASC,
	[CodigoY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEM]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEM](
	[Quantidade] [int] NOT NULL,
	[Codigo] [varchar](20) NOT NULL,
	[Nr_encomenda] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Nr_encomenda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_DE_VEICULO]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_DE_VEICULO](
	[Designação] [varchar](15) NOT NULL,
	[ArCondicionado] [varchar](3) NULL,
	[Codigo] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_FORNECEDOR]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_FORNECEDOR](
	[Designaçao] [varchar](30) NULL,
	[Codigo] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VEICULO]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VEICULO](
	[Matricula] [varchar](8) NOT NULL,
	[Ano] [int] NOT NULL,
	[Marca] [varchar](40) NOT NULL,
	[Tipo] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Matricula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [eletronica_de_medicamentos].[farmaceutica]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [eletronica_de_medicamentos].[farmaceutica](
	[N_registo_nacional] [int] NOT NULL,
	[Endereco] [varchar](100) NOT NULL,
	[N_telefone] [numeric](9, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[N_registo_nacional] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [eletronica_de_medicamentos].[farmacia]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [eletronica_de_medicamentos].[farmacia](
	[NIF] [int] NOT NULL,
	[Nome] [varchar](30) NOT NULL,
	[Endereco] [varchar](100) NOT NULL,
	[N_telefone] [numeric](9, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NIF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [eletronica_de_medicamentos].[farmaco]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [eletronica_de_medicamentos].[farmaco](
	[Formula] [varchar](1000) NOT NULL,
	[Nome_Comercial] [varchar](30) NOT NULL,
	[N_registo] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[N_registo] ASC,
	[Formula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [eletronica_de_medicamentos].[medico]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [eletronica_de_medicamentos].[medico](
	[N_sns] [int] NOT NULL,
	[Nome] [varchar](30) NOT NULL,
	[Especializacao] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[N_sns] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [eletronica_de_medicamentos].[paciente]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [eletronica_de_medicamentos].[paciente](
	[N_utente] [int] NOT NULL,
	[Nome] [varchar](30) NOT NULL,
	[Data_nascimento] [date] NOT NULL,
	[Endereco] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[N_utente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [eletronica_de_medicamentos].[prescriçao]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [eletronica_de_medicamentos].[prescriçao](
	[N_prescricao] [int] NOT NULL,
	[N_medico] [int] NOT NULL,
	[N_paciente] [int] NOT NULL,
	[NIF_farmacia] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[N_medico] ASC,
	[N_paciente] ASC,
	[NIF_farmacia] ASC,
	[N_prescricao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [gestao_stock].[encomenda]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gestao_stock].[encomenda](
	[numero] [int] NOT NULL,
	[data] [date] NOT NULL,
	[fornecedor] [char](9) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[numero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [gestao_stock].[fornecedor]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gestao_stock].[fornecedor](
	[nif] [char](9) NOT NULL,
	[nome] [varchar](50) NOT NULL,
	[fax] [char](12) NOT NULL,
	[endereco] [varchar](100) NULL,
	[condpag] [varchar](100) NULL,
	[tipo] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[nif] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [gestao_stock].[item]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gestao_stock].[item](
	[numEnc] [int] NOT NULL,
	[codProd] [int] NOT NULL,
	[unidades] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[numEnc] ASC,
	[codProd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [gestao_stock].[produto]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gestao_stock].[produto](
	[codigo] [int] NOT NULL,
	[preco] [decimal](10, 2) NULL,
	[nome] [varchar](50) NOT NULL,
	[iva] [int] NULL,
	[unidades] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [gestao_stock].[tipo_fornecedor]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gestao_stock].[tipo_fornecedor](
	[codigo] [int] NOT NULL,
	[designacao] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [prescricao].[farmaceutica]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [prescricao].[farmaceutica](
	[numReg] [int] NOT NULL,
	[nome] [varchar](50) NOT NULL,
	[endereco] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[numReg] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [prescricao].[farmacia]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [prescricao].[farmacia](
	[telefone] [decimal](9, 0) NOT NULL,
	[endereco] [varchar](100) NULL,
	[nome] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[nome] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [prescricao].[farmaco]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [prescricao].[farmaco](
	[formula] [varchar](100) NULL,
	[nome] [varchar](30) NOT NULL,
	[numRegFarm] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[nome] ASC,
	[numRegFarm] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [prescricao].[medico]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [prescricao].[medico](
	[numSNS] [int] NOT NULL,
	[especialidade] [varchar](30) NULL,
	[nome] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[numSNS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [prescricao].[paciente]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [prescricao].[paciente](
	[numUtente] [int] NOT NULL,
	[endereco] [varchar](100) NULL,
	[nome] [varchar](50) NOT NULL,
	[dataNasc] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[numUtente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [prescricao].[presc_farmaco]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [prescricao].[presc_farmaco](
	[numPresc] [int] NOT NULL,
	[nomeFarmaco] [varchar](30) NOT NULL,
	[numRegFarm] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[numPresc] ASC,
	[nomeFarmaco] ASC,
	[numRegFarm] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [prescricao].[prescricao]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [prescricao].[prescricao](
	[numPresc] [int] NOT NULL,
	[numMed] [int] NOT NULL,
	[numUtente] [int] NOT NULL,
	[farmacia] [varchar](50) NULL,
	[dataProc] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[numPresc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [reserva_de_voos].[airplane]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [reserva_de_voos].[airplane](
	[Airplane_id] [int] IDENTITY(1,1) NOT NULL,
	[Airplane_type] [varchar](20) NOT NULL,
	[Total_no_of_seats] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Airplane_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [reserva_de_voos].[airplane_type]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [reserva_de_voos].[airplane_type](
	[Company] [varchar](20) NOT NULL,
	[Type_name] [varchar](20) NOT NULL,
	[Max_seats] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Type_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [reserva_de_voos].[airport]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [reserva_de_voos].[airport](
	[Airport_code] [int] NOT NULL,
	[City] [varchar](20) NOT NULL,
	[State] [varchar](20) NULL,
	[Name] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Airport_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [reserva_de_voos].[can_land]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [reserva_de_voos].[can_land](
	[Airport] [int] NOT NULL,
	[Airplane_type] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Airport] ASC,
	[Airplane_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [reserva_de_voos].[fare]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [reserva_de_voos].[fare](
	[Code] [int] NOT NULL,
	[Amount] [int] NOT NULL,
	[Restrictions] [varchar](20) NULL,
	[Flight] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Code] ASC,
	[Flight] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [reserva_de_voos].[flight]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [reserva_de_voos].[flight](
	[Number] [int] NOT NULL,
	[Airline] [varchar](20) NOT NULL,
	[Weekdays] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [reserva_de_voos].[flight_leg]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [reserva_de_voos].[flight_leg](
	[Leg_no] [int] NOT NULL,
	[Scheduled_dep_time] [date] NULL,
	[Scheduled_arr_time] [date] NULL,
	[Departure_airport] [int] NOT NULL,
	[Arrival_airport] [int] NOT NULL,
	[Flight] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Flight] ASC,
	[Leg_no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [universidade].[aconselha]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [universidade].[aconselha](
	[NMEC_x] [int] NOT NULL,
	[NMEC_y] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NMEC_x] ASC,
	[NMEC_y] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [universidade].[departamento]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [universidade].[departamento](
	[Localizacao] [varchar](100) NOT NULL,
	[Nome] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Localizacao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [universidade].[estudante]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [universidade].[estudante](
	[NMEC] [int] NOT NULL,
	[Nome] [varchar](30) NOT NULL,
	[Data_nasc] [date] NOT NULL,
	[Grau_form] [varchar](10) NOT NULL,
	[Participa] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NMEC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [universidade].[professor]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [universidade].[professor](
	[NMEC] [int] NOT NULL,
	[Nome] [varchar](30) NOT NULL,
	[Data_nasc] [date] NOT NULL,
	[Cat_profissional] [varchar](10) NULL,
	[Area_cient] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[NMEC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [universidade].[projeto]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [universidade].[projeto](
	[ID] [int] NOT NULL,
	[Nome] [varchar](30) NOT NULL,
	[Ent_financiadora] [varchar](30) NOT NULL,
	[Data_init] [date] NOT NULL,
	[Data_fim] [date] NOT NULL,
	[Orcamento] [decimal](10, 2) NULL,
	[Gerido] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [universidade].[trabalha]    Script Date: 11/06/2020 23:31:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [universidade].[trabalha](
	[Q_trabalho] [int] NOT NULL,
	[MEC] [int] NOT NULL,
	[Localizacao] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MEC] ASC,
	[Localizacao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [agenda].[adulto] ([nome], [morada], [phone], [hphone], [wphone], [email], [ltrabalho], [profissao]) VALUES (N'Amélia dos Santos Pereira', N'Estrada St. Antonio', CAST(912399213 AS Numeric(9, 0)), NULL, NULL, N'melisp@gmail.com', NULL, N'Professora')
INSERT [agenda].[adulto] ([nome], [morada], [phone], [hphone], [wphone], [email], [ltrabalho], [profissao]) VALUES (N'Joana Carneiro', N'Rua Principal Antuzede nº4', CAST(915551683 AS Numeric(9, 0)), NULL, NULL, NULL, NULL, NULL)
INSERT [agenda].[adulto] ([nome], [morada], [phone], [hphone], [wphone], [email], [ltrabalho], [profissao]) VALUES (N'Diogo Ferreira', N'Avenido dos Bois nº5', CAST(915555648 AS Numeric(9, 0)), NULL, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [agenda].[aluno] ON 

INSERT [agenda].[aluno] ([id], [nome], [morada], [nasc], [problemas], [medicacao], [restricao], [antipiretico]) VALUES (1, N'João Santos', N'Rua Assunção Guimarota nº5', CAST(N'2010-06-12' AS Date), N'asma', N'inalador', N'gluten', NULL)
INSERT [agenda].[aluno] ([id], [nome], [morada], [nasc], [problemas], [medicacao], [restricao], [antipiretico]) VALUES (2, N'Maria João Henriques', N'Rua do Castanhal Pousos', CAST(N'2010-06-12' AS Date), N'hipotensão', N'cipro', N'lactose', NULL)
INSERT [agenda].[aluno] ([id], [nome], [morada], [nasc], [problemas], [medicacao], [restricao], [antipiretico]) VALUES (3, N'Mariana Silva', N'Rua Virgílio Monteiro nº2', CAST(N'2010-06-12' AS Date), N'asma', N'inalador', N'açucar', NULL)
SET IDENTITY_INSERT [agenda].[aluno] OFF
GO
INSERT [agenda].[ano] ([ano]) VALUES (N'2018/2019')
INSERT [agenda].[ano] ([ano]) VALUES (N'2019/2020')
GO
INSERT [agenda].[atividade] ([nome]) VALUES (N'atletismo')
INSERT [agenda].[atividade] ([nome]) VALUES (N'basquetebol')
INSERT [agenda].[atividade] ([nome]) VALUES (N'dança')
GO
INSERT [agenda].[encarregado] ([id_aluno], [parent_phone]) VALUES (1, CAST(920555555 AS Numeric(9, 0)))
INSERT [agenda].[encarregado] ([id_aluno], [parent_phone]) VALUES (2, CAST(965557014 AS Numeric(9, 0)))
INSERT [agenda].[encarregado] ([id_aluno], [parent_phone]) VALUES (3, CAST(929455557 AS Numeric(9, 0)))
GO
INSERT [agenda].[grau] ([grau]) VALUES (1)
INSERT [agenda].[grau] ([grau]) VALUES (2)
INSERT [agenda].[grau] ([grau]) VALUES (3)
GO
INSERT [agenda].[levantado] ([id_aluno], [parent_phone]) VALUES (1, CAST(920555432 AS Numeric(9, 0)))
INSERT [agenda].[levantado] ([id_aluno], [parent_phone]) VALUES (1, CAST(920555443 AS Numeric(9, 0)))
INSERT [agenda].[levantado] ([id_aluno], [parent_phone]) VALUES (1, CAST(920555555 AS Numeric(9, 0)))
GO
INSERT [agenda].[logins] ([username], [pass], [tipo]) VALUES (N'admin', N'AB25AF705EEDA0AAD6D61214FF69FB0A4B99FD32D86C30007BDBDD3F9BF7D5EE', N'mandachuva')
INSERT [agenda].[logins] ([username], [pass], [tipo]) VALUES (N'func', N'C340FF19831F32385E62D2F8F45068061F7362F4400F2583A64249E3333BB798', N'normal')
GO
INSERT [agenda].[orientado] ([nome], [id_prof]) VALUES (N'atletismo', 3)
INSERT [agenda].[orientado] ([nome], [id_prof]) VALUES (N'basquetebol', 4)
INSERT [agenda].[orientado] ([nome], [id_prof]) VALUES (N'dança', 6)
GO
INSERT [agenda].[parente] ([id_aluno], [parent_phone], [parentesco]) VALUES (1, CAST(920555432 AS Numeric(9, 0)), N'irmã')
INSERT [agenda].[parente] ([id_aluno], [parent_phone], [parentesco]) VALUES (1, CAST(920555443 AS Numeric(9, 0)), N'mãe')
INSERT [agenda].[parente] ([id_aluno], [parent_phone], [parentesco]) VALUES (1, CAST(920555555 AS Numeric(9, 0)), N'irmao')
GO
INSERT [agenda].[pertence_turma] ([id_aluno], [id_turma]) VALUES (1, 4)
INSERT [agenda].[pertence_turma] ([id_aluno], [id_turma]) VALUES (2, 4)
INSERT [agenda].[pertence_turma] ([id_aluno], [id_turma]) VALUES (3, 4)
GO
SET IDENTITY_INSERT [agenda].[professor] ON 

INSERT [agenda].[professor] ([id], [nome], [phone], [email]) VALUES (1, N'Calisto Costa', CAST(915555539 AS Numeric(9, 0)), N'c.costa@gmail.com')
INSERT [agenda].[professor] ([id], [nome], [phone], [email]) VALUES (2, N'Beatriz Silva', CAST(915334530 AS Numeric(9, 0)), N'bssilva@hotmail.com')
INSERT [agenda].[professor] ([id], [nome], [phone], [email]) VALUES (3, N'Maria de Lurdes', CAST(935555852 AS Numeric(9, 0)), N'lurdes.m@gmail.com')
SET IDENTITY_INSERT [agenda].[professor] OFF
GO
INSERT [agenda].[tem] ([id_aluno], [nome]) VALUES (1, N'basquetebol')
INSERT [agenda].[tem] ([id_aluno], [nome]) VALUES (2, N'natação')
INSERT [agenda].[tem] ([id_aluno], [nome]) VALUES (3, N'natação')
GO
SET IDENTITY_INSERT [agenda].[turma] ON 

INSERT [agenda].[turma] ([id], [grau], [ano], [id_prof]) VALUES (1, 1, N'2019/2020', 5)
INSERT [agenda].[turma] ([id], [grau], [ano], [id_prof]) VALUES (2, 2, N'2019/2020', 3)
INSERT [agenda].[turma] ([id], [grau], [ano], [id_prof]) VALUES (3, 3, N'2019/2020', 2)
SET IDENTITY_INSERT [agenda].[turma] OFF
GO
INSERT [agenda].[vai] ([id_aluno], [visita]) VALUES (1, CAST(N'2020-06-02' AS Date))
INSERT [agenda].[vai] ([id_aluno], [visita]) VALUES (1, CAST(N'2020-06-03' AS Date))
INSERT [agenda].[vai] ([id_aluno], [visita]) VALUES (1, CAST(N'2020-06-12' AS Date))
GO
INSERT [agenda].[visita] ([nome], [data], [partida], [chegada]) VALUES (N'viagem a castelo de paiva', CAST(N'2020-06-02' AS Date), CAST(N'09:00:00' AS Time), CAST(N'18:00:00' AS Time))
INSERT [agenda].[visita] ([nome], [data], [partida], [chegada]) VALUES (N'passeio de moliceiro', CAST(N'2020-06-03' AS Date), CAST(N'15:00:00' AS Time), CAST(N'16:30:00' AS Time))
INSERT [agenda].[visita] ([nome], [data], [partida], [chegada]) VALUES (N'passeio pela cidade da Guarda', CAST(N'2020-06-04' AS Date), CAST(N'09:00:00' AS Time), CAST(N'18:00:00' AS Time))
GO
INSERT [company].[department] ([Dname], [Dnumber], [Mgr_ssn], [Mgr_start_date]) VALUES (N'Investigacao', 1, CAST(21312332 AS Decimal(9, 0)), CAST(N'2010-08-02' AS Date))
INSERT [company].[department] ([Dname], [Dnumber], [Mgr_ssn], [Mgr_start_date]) VALUES (N'Comercial', 2, CAST(321233765 AS Decimal(9, 0)), CAST(N'2013-05-16' AS Date))
INSERT [company].[department] ([Dname], [Dnumber], [Mgr_ssn], [Mgr_start_date]) VALUES (N'Logistica', 3, CAST(41124234 AS Decimal(9, 0)), CAST(N'2013-05-16' AS Date))
GO
INSERT [company].[dependent] ([Essn], [Dependent_name], [Sex], [Bdate], [Relationship]) VALUES (CAST(21312332 AS Decimal(9, 0)), N'Joana Costa', N'F', CAST(N'2008-04-01' AS Date), N'Filho')
INSERT [company].[dependent] ([Essn], [Dependent_name], [Sex], [Bdate], [Relationship]) VALUES (CAST(21312332 AS Decimal(9, 0)), N'Maria Costa', N'F', CAST(N'1990-10-05' AS Date), N'Neto')
INSERT [company].[dependent] ([Essn], [Dependent_name], [Sex], [Bdate], [Relationship]) VALUES (CAST(21312332 AS Decimal(9, 0)), N'Rui Costa', N'M', CAST(N'2000-08-04' AS Date), N'Neto')
GO
INSERT [company].[dept_location] ([Dnumber], [Dlocation]) VALUES (2, N'Aveiro')
INSERT [company].[dept_location] ([Dnumber], [Dlocation]) VALUES (3, N'Coimbra')
GO
INSERT [company].[employee] ([Fname], [Minit], [Lname], [Ssn], [Bdate], [Address], [Sex], [Salary], [Super_ssn], [Dno]) VALUES (N'Ana', N'L', N'Silva', CAST(12652121 AS Decimal(9, 0)), CAST(N'1990-03-03' AS Date), N'Rua ZIG ZAG', N'F', CAST(1400.00 AS Decimal(11, 2)), CAST(21312332 AS Decimal(9, 0)), 2)
INSERT [company].[employee] ([Fname], [Minit], [Lname], [Ssn], [Bdate], [Address], [Sex], [Salary], [Super_ssn], [Dno]) VALUES (N'Carlos', N'D', N'Gomes', CAST(21312332 AS Decimal(9, 0)), CAST(N'2000-01-01' AS Date), N'Rua XPTO', N'M', CAST(1200.00 AS Decimal(11, 2)), NULL, 1)
INSERT [company].[employee] ([Fname], [Minit], [Lname], [Ssn], [Bdate], [Address], [Sex], [Salary], [Super_ssn], [Dno]) VALUES (N'Joao', N'G', N'Costa', CAST(41124234 AS Decimal(9, 0)), CAST(N'2001-01-01' AS Date), N'Rua YGZ', N'M', CAST(1300.00 AS Decimal(11, 2)), CAST(21312332 AS Decimal(9, 0)), 2)
GO
INSERT [company].[project] ([Pname], [Pnumber], [Plocation], [Dnum]) VALUES (N'Aveiro Digital', 1, N'Aveiro', 3)
INSERT [company].[project] ([Pname], [Pnumber], [Plocation], [Dnum]) VALUES (N'BD Open Day', 2, N'Espinho', 2)
INSERT [company].[project] ([Pname], [Pnumber], [Plocation], [Dnum]) VALUES (N'Dicoogle', 3, N'Aveiro', 3)
GO
INSERT [company].[works_on] ([Essn], [Pno], [Hours]) VALUES (CAST(21312332 AS Decimal(9, 0)), 1, CAST(20.0 AS Decimal(6, 1)))
INSERT [company].[works_on] ([Essn], [Pno], [Hours]) VALUES (CAST(41124234 AS Decimal(9, 0)), 2, CAST(20.0 AS Decimal(6, 1)))
INSERT [company].[works_on] ([Essn], [Pno], [Hours]) VALUES (CAST(41124234 AS Decimal(9, 0)), 3, CAST(30.0 AS Decimal(6, 1)))
GO
INSERT [dbo].[Hello] ([MsgID], [MsgSubject]) VALUES (1235, N'Ola tudo Bem')
INSERT [dbo].[Hello] ([MsgID], [MsgSubject]) VALUES (1245, N'Ola tudo Bem')
GO
INSERT [dbo].[Hello1] ([MsgID], [MsgSubject]) VALUES (89162, N'Ola, sou o jacinto, tudo bem?')
GO
INSERT [gestao_stock].[encomenda] ([numero], [data], [fornecedor]) VALUES (1, CAST(N'2015-03-03' AS Date), N'509111222')
INSERT [gestao_stock].[encomenda] ([numero], [data], [fornecedor]) VALUES (2, CAST(N'2015-03-04' AS Date), N'509121212')
INSERT [gestao_stock].[encomenda] ([numero], [data], [fornecedor]) VALUES (3, CAST(N'2015-03-05' AS Date), N'509987654')
GO
INSERT [gestao_stock].[fornecedor] ([nif], [nome], [fax], [endereco], [condpag], [tipo]) VALUES (N'509111222', N'LactoSerrano', N'234872372   ', NULL, N'60', 102)
INSERT [gestao_stock].[fornecedor] ([nif], [nome], [fax], [endereco], [condpag], [tipo]) VALUES (N'509121212', N'FrescoNorte', N'221234567   ', N'Rua do Complexo Grande - Edf 3', N'90', 102)
INSERT [gestao_stock].[fornecedor] ([nif], [nome], [fax], [endereco], [condpag], [tipo]) VALUES (N'509294734', N'PinkDrinks', N'2123231732  ', N'Rua Poente 723', N'30', 105)
GO
INSERT [gestao_stock].[item] ([numEnc], [codProd], [unidades]) VALUES (1, 10001, 200)
INSERT [gestao_stock].[item] ([numEnc], [codProd], [unidades]) VALUES (1, 10004, 300)
INSERT [gestao_stock].[item] ([numEnc], [codProd], [unidades]) VALUES (2, 10002, 1200)
GO
INSERT [gestao_stock].[produto] ([codigo], [preco], [nome], [iva], [unidades]) VALUES (10001, CAST(8.75 AS Decimal(10, 2)), N'Bife da Pa', 23, 125)
INSERT [gestao_stock].[produto] ([codigo], [preco], [nome], [iva], [unidades]) VALUES (10002, CAST(1.25 AS Decimal(10, 2)), N'Laranja Algarve', 23, 1000)
INSERT [gestao_stock].[produto] ([codigo], [preco], [nome], [iva], [unidades]) VALUES (10003, CAST(1.45 AS Decimal(10, 2)), N'Pera Rocha', 23, 2000)
GO
INSERT [gestao_stock].[tipo_fornecedor] ([codigo], [designacao]) VALUES (101, N'Carnes')
INSERT [gestao_stock].[tipo_fornecedor] ([codigo], [designacao]) VALUES (102, N'Laticinios')
INSERT [gestao_stock].[tipo_fornecedor] ([codigo], [designacao]) VALUES (103, N'Frutas e Legumes')
GO
INSERT [prescricao].[farmaceutica] ([numReg], [nome], [endereco]) VALUES (905, N'Roche', N'Estrada Nacional 249')
INSERT [prescricao].[farmaceutica] ([numReg], [nome], [endereco]) VALUES (906, N'Bayer', N'Rua da Quinta do Pinheiro 5')
INSERT [prescricao].[farmaceutica] ([numReg], [nome], [endereco]) VALUES (907, N'Pfizer', N'Empreendimento Lagoas Park - Edificio 7')
GO
INSERT [prescricao].[farmacia] ([telefone], [endereco], [nome]) VALUES (CAST(221234567 AS Decimal(9, 0)), N'Avenida Principal 973', N'Farmacia BelaVista')
INSERT [prescricao].[farmacia] ([telefone], [endereco], [nome]) VALUES (CAST(234370500 AS Decimal(9, 0)), N'Avenida da Liberdade 33', N'Farmacia Central')
INSERT [prescricao].[farmacia] ([telefone], [endereco], [nome]) VALUES (CAST(234375111 AS Decimal(9, 0)), N'Largo da Vila 523', N'Farmacia Peixoto')
GO
INSERT [prescricao].[farmaco] ([formula], [nome], [numRegFarm]) VALUES (N'BIOZZ02', N'Aspirina 1000', 908)
INSERT [prescricao].[farmaco] ([formula], [nome], [numRegFarm]) VALUES (N'XZT9', N'Boa Saude em 3 Dias', 905)
INSERT [prescricao].[farmaco] ([formula], [nome], [numRegFarm]) VALUES (N'DDFS-XEN9', N'GEROaero Rapid', 907)
GO
INSERT [prescricao].[medico] ([numSNS], [especialidade], [nome]) VALUES (101, N'Cardiologia', N'Joao Pires Lima')
INSERT [prescricao].[medico] ([numSNS], [especialidade], [nome]) VALUES (102, N'Cardiologia', N'Manuel Jose Rosa')
INSERT [prescricao].[medico] ([numSNS], [especialidade], [nome]) VALUES (103, N'Pneumologia', N'Rui Luis Caraca')
GO
INSERT [prescricao].[paciente] ([numUtente], [endereco], [nome], [dataNasc]) VALUES (1, N'Rua Nova do Pilar 35', N'Renato Manuel Cavaco', CAST(N'1980-01-03' AS Date))
INSERT [prescricao].[paciente] ([numUtente], [endereco], [nome], [dataNasc]) VALUES (2, N'Rua Direita 43', N'Paula Vasco Silva', CAST(N'1972-10-30' AS Date))
INSERT [prescricao].[paciente] ([numUtente], [endereco], [nome], [dataNasc]) VALUES (3, N'Rua de Cima 144', N'Ines Couto Souto', CAST(N'1985-05-12' AS Date))
GO
INSERT [prescricao].[presc_farmaco] ([numPresc], [nomeFarmaco], [numRegFarm]) VALUES (10001, N'Boa Saude em 3 Dias', 905)
INSERT [prescricao].[presc_farmaco] ([numPresc], [nomeFarmaco], [numRegFarm]) VALUES (10002, N'GEROaero Rapid', 907)
INSERT [prescricao].[presc_farmaco] ([numPresc], [nomeFarmaco], [numRegFarm]) VALUES (10003, N'Aspirina 1000', 908)
GO
INSERT [prescricao].[prescricao] ([numPresc], [numMed], [numUtente], [farmacia], [dataProc]) VALUES (10001, 105, 1, N'Farmacia Central', CAST(N'2015-03-03' AS Date))
INSERT [prescricao].[prescricao] ([numPresc], [numMed], [numUtente], [farmacia], [dataProc]) VALUES (10002, 105, 1, NULL, NULL)
INSERT [prescricao].[prescricao] ([numPresc], [numMed], [numUtente], [farmacia], [dataProc]) VALUES (10003, 102, 3, N'Farmacia Central', CAST(N'2015-01-17' AS Date))
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [adulto_nome]    Script Date: 11/06/2020 23:32:04 ******/
CREATE NONCLUSTERED INDEX [adulto_nome] ON [agenda].[adulto]
(
	[nome] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [aluno_nome]    Script Date: 11/06/2020 23:32:04 ******/
CREATE NONCLUSTERED INDEX [aluno_nome] ON [agenda].[aluno]
(
	[nome] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [aluno_nome_data]    Script Date: 11/06/2020 23:32:04 ******/
CREATE NONCLUSTERED INDEX [aluno_nome_data] ON [agenda].[aluno]
(
	[nome] ASC
)
INCLUDE([nasc]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__professo__AB6E6164B83AACBB]    Script Date: 11/06/2020 23:32:04 ******/
ALTER TABLE [agenda].[professor] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__professo__B43B145F229C9ACC]    Script Date: 11/06/2020 23:32:04 ******/
ALTER TABLE [agenda].[professor] ADD UNIQUE NONCLUSTERED 
(
	[phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [prof_nome]    Script Date: 11/06/2020 23:32:04 ******/
CREATE NONCLUSTERED INDEX [prof_nome] ON [agenda].[professor]
(
	[nome] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [turma_ano]    Script Date: 11/06/2020 23:32:04 ******/
CREATE NONCLUSTERED INDEX [turma_ano] ON [agenda].[turma]
(
	[ano] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [turma_ano_grau]    Script Date: 11/06/2020 23:32:04 ******/
CREATE NONCLUSTERED INDEX [turma_ano_grau] ON [agenda].[turma]
(
	[ano] ASC
)
INCLUDE([grau]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [visita_nome]    Script Date: 11/06/2020 23:32:04 ******/
CREATE NONCLUSTERED INDEX [visita_nome] ON [agenda].[visita]
(
	[nome] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__CLIENTE__2A4542A459745E42]    Script Date: 11/06/2020 23:32:04 ******/
ALTER TABLE [dbo].[CLIENTE] ADD UNIQUE NONCLUSTERED 
(
	[Num_carta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__INSTITUI__4DFC5FCEC1C3DAAE]    Script Date: 11/06/2020 23:32:04 ******/
ALTER TABLE [dbo].[INSTITUIÇAO] ADD UNIQUE NONCLUSTERED 
(
	[Endereço] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__farmaco__88639403CFC3109E]    Script Date: 11/06/2020 23:32:04 ******/
ALTER TABLE [eletronica_de_medicamentos].[farmaco] ADD UNIQUE NONCLUSTERED 
(
	[Formula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [universidade].[projeto] ADD  DEFAULT ((0)) FOR [Orcamento]
GO
ALTER TABLE [agenda].[encarregado]  WITH CHECK ADD FOREIGN KEY([id_aluno])
REFERENCES [agenda].[aluno] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [agenda].[encarregado]  WITH CHECK ADD FOREIGN KEY([parent_phone])
REFERENCES [agenda].[adulto] ([phone])
ON UPDATE CASCADE
GO
ALTER TABLE [agenda].[levantado]  WITH CHECK ADD FOREIGN KEY([id_aluno])
REFERENCES [agenda].[aluno] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [agenda].[levantado]  WITH CHECK ADD FOREIGN KEY([parent_phone])
REFERENCES [agenda].[adulto] ([phone])
ON UPDATE CASCADE
GO
ALTER TABLE [agenda].[orientado]  WITH CHECK ADD FOREIGN KEY([id_prof])
REFERENCES [agenda].[professor] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [agenda].[orientado]  WITH CHECK ADD FOREIGN KEY([nome])
REFERENCES [agenda].[atividade] ([nome])
ON UPDATE CASCADE
GO
ALTER TABLE [agenda].[parente]  WITH CHECK ADD FOREIGN KEY([id_aluno])
REFERENCES [agenda].[aluno] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [agenda].[parente]  WITH CHECK ADD FOREIGN KEY([parent_phone])
REFERENCES [agenda].[adulto] ([phone])
ON UPDATE CASCADE
GO
ALTER TABLE [agenda].[pertence_turma]  WITH CHECK ADD FOREIGN KEY([id_aluno])
REFERENCES [agenda].[aluno] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [agenda].[pertence_turma]  WITH CHECK ADD FOREIGN KEY([id_turma])
REFERENCES [agenda].[turma] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [agenda].[tem]  WITH CHECK ADD FOREIGN KEY([id_aluno])
REFERENCES [agenda].[aluno] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [agenda].[tem]  WITH CHECK ADD FOREIGN KEY([nome])
REFERENCES [agenda].[atividade] ([nome])
ON UPDATE CASCADE
GO
ALTER TABLE [agenda].[turma]  WITH CHECK ADD FOREIGN KEY([ano])
REFERENCES [agenda].[ano] ([ano])
ON UPDATE CASCADE
GO
ALTER TABLE [agenda].[turma]  WITH CHECK ADD FOREIGN KEY([grau])
REFERENCES [agenda].[grau] ([grau])
ON UPDATE CASCADE
GO
ALTER TABLE [agenda].[turma]  WITH CHECK ADD FOREIGN KEY([id_prof])
REFERENCES [agenda].[professor] ([id])
GO
ALTER TABLE [agenda].[vai]  WITH CHECK ADD FOREIGN KEY([id_aluno])
REFERENCES [agenda].[aluno] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [agenda].[vai]  WITH CHECK ADD FOREIGN KEY([visita])
REFERENCES [agenda].[visita] ([data])
ON UPDATE CASCADE
GO
ALTER TABLE [company].[department]  WITH CHECK ADD FOREIGN KEY([Mgr_ssn])
REFERENCES [company].[employee] ([Ssn])
GO
ALTER TABLE [company].[dependent]  WITH CHECK ADD FOREIGN KEY([Essn])
REFERENCES [company].[employee] ([Ssn])
GO
ALTER TABLE [company].[dept_location]  WITH CHECK ADD FOREIGN KEY([Dnumber])
REFERENCES [company].[department] ([Dnumber])
GO
ALTER TABLE [company].[employee]  WITH CHECK ADD  CONSTRAINT [fk] FOREIGN KEY([Dno])
REFERENCES [company].[department] ([Dnumber])
GO
ALTER TABLE [company].[employee] CHECK CONSTRAINT [fk]
GO
ALTER TABLE [company].[employee]  WITH CHECK ADD FOREIGN KEY([Super_ssn])
REFERENCES [company].[employee] ([Ssn])
GO
ALTER TABLE [company].[project]  WITH CHECK ADD FOREIGN KEY([Dnum])
REFERENCES [company].[department] ([Dnumber])
GO
ALTER TABLE [company].[works_on]  WITH CHECK ADD FOREIGN KEY([Essn])
REFERENCES [company].[employee] ([Ssn])
GO
ALTER TABLE [company].[works_on]  WITH CHECK ADD FOREIGN KEY([Pno])
REFERENCES [company].[project] ([Pnumber])
GO
ALTER TABLE [dbo].[ALUGUER]  WITH CHECK ADD FOREIGN KEY([Localizaçao])
REFERENCES [dbo].[BALCAO] ([Numero])
GO
ALTER TABLE [dbo].[ALUGUER]  WITH CHECK ADD FOREIGN KEY([Objeto])
REFERENCES [dbo].[VEICULO] ([Matricula])
GO
ALTER TABLE [dbo].[ALUGUER]  WITH CHECK ADD FOREIGN KEY([Titular])
REFERENCES [dbo].[CLIENTE] ([NIF])
GO
ALTER TABLE [dbo].[ARTIGO]  WITH CHECK ADD FOREIGN KEY([Autor])
REFERENCES [dbo].[AUTOR] ([Email])
GO
ALTER TABLE [dbo].[AUTOR]  WITH CHECK ADD FOREIGN KEY([Instituiçao])
REFERENCES [dbo].[INSTITUIÇAO] ([Nome])
GO
ALTER TABLE [dbo].[COMPROVATIVO]  WITH CHECK ADD FOREIGN KEY([Local])
REFERENCES [dbo].[INSTITUIÇAO] ([Endereço])
GO
ALTER TABLE [dbo].[ENCOMENDA]  WITH CHECK ADD FOREIGN KEY([Fornecedor])
REFERENCES [dbo].[FORNECEDOR] ([NIF])
GO
ALTER TABLE [dbo].[FORNECEDOR]  WITH CHECK ADD FOREIGN KEY([Tipo])
REFERENCES [dbo].[TIPO_FORNECEDOR] ([Codigo])
GO
ALTER TABLE [dbo].[LIGEIRO]  WITH CHECK ADD FOREIGN KEY([Codigo])
REFERENCES [dbo].[TIPO_DE_VEICULO] ([Codigo])
GO
ALTER TABLE [dbo].[LISTA_DE_ARTIGOS]  WITH CHECK ADD FOREIGN KEY([Artigos])
REFERENCES [dbo].[ARTIGO] ([Nr_registo])
GO
ALTER TABLE [dbo].[LISTA_DE_ARTIGOS]  WITH CHECK ADD FOREIGN KEY([Conf])
REFERENCES [dbo].[Conferencia] ([Id_Conf])
GO
ALTER TABLE [dbo].[LISTA_DE_PARTICIPANTES]  WITH CHECK ADD FOREIGN KEY([Email])
REFERENCES [dbo].[PARTICIPANTE] ([Email])
GO
ALTER TABLE [dbo].[LISTA_DE_PARTICIPANTES]  WITH CHECK ADD FOREIGN KEY([Conf])
REFERENCES [dbo].[Conferencia] ([Id_Conf])
GO
ALTER TABLE [dbo].[PARTICIPANTE]  WITH CHECK ADD FOREIGN KEY([Comprovativo])
REFERENCES [dbo].[COMPROVATIVO] ([Ref_transaçao])
GO
ALTER TABLE [dbo].[PESADO]  WITH CHECK ADD FOREIGN KEY([Codigo])
REFERENCES [dbo].[TIPO_DE_VEICULO] ([Codigo])
GO
ALTER TABLE [dbo].[SIMILARIDADE]  WITH CHECK ADD FOREIGN KEY([CodigoX])
REFERENCES [dbo].[TIPO_DE_VEICULO] ([Codigo])
GO
ALTER TABLE [dbo].[SIMILARIDADE]  WITH CHECK ADD FOREIGN KEY([CodigoY])
REFERENCES [dbo].[TIPO_DE_VEICULO] ([Codigo])
GO
ALTER TABLE [dbo].[TEM]  WITH CHECK ADD FOREIGN KEY([Codigo])
REFERENCES [dbo].[PRODUTO] ([Codigo])
GO
ALTER TABLE [dbo].[TEM]  WITH CHECK ADD FOREIGN KEY([Nr_encomenda])
REFERENCES [dbo].[ENCOMENDA] ([N_encomenda])
GO
ALTER TABLE [dbo].[VEICULO]  WITH CHECK ADD FOREIGN KEY([Tipo])
REFERENCES [dbo].[TIPO_DE_VEICULO] ([Codigo])
GO
ALTER TABLE [eletronica_de_medicamentos].[farmaco]  WITH CHECK ADD FOREIGN KEY([N_registo])
REFERENCES [eletronica_de_medicamentos].[farmaceutica] ([N_registo_nacional])
GO
ALTER TABLE [eletronica_de_medicamentos].[prescriçao]  WITH CHECK ADD FOREIGN KEY([N_medico])
REFERENCES [eletronica_de_medicamentos].[medico] ([N_sns])
GO
ALTER TABLE [eletronica_de_medicamentos].[prescriçao]  WITH CHECK ADD FOREIGN KEY([N_paciente])
REFERENCES [eletronica_de_medicamentos].[paciente] ([N_utente])
GO
ALTER TABLE [eletronica_de_medicamentos].[prescriçao]  WITH CHECK ADD FOREIGN KEY([NIF_farmacia])
REFERENCES [eletronica_de_medicamentos].[farmacia] ([NIF])
GO
ALTER TABLE [gestao_stock].[encomenda]  WITH CHECK ADD FOREIGN KEY([fornecedor])
REFERENCES [gestao_stock].[fornecedor] ([nif])
GO
ALTER TABLE [gestao_stock].[fornecedor]  WITH CHECK ADD FOREIGN KEY([tipo])
REFERENCES [gestao_stock].[tipo_fornecedor] ([codigo])
GO
ALTER TABLE [gestao_stock].[item]  WITH CHECK ADD FOREIGN KEY([codProd])
REFERENCES [gestao_stock].[produto] ([codigo])
GO
ALTER TABLE [gestao_stock].[item]  WITH CHECK ADD FOREIGN KEY([numEnc])
REFERENCES [gestao_stock].[encomenda] ([numero])
GO
ALTER TABLE [prescricao].[farmaco]  WITH CHECK ADD FOREIGN KEY([numRegFarm])
REFERENCES [prescricao].[farmaceutica] ([numReg])
GO
ALTER TABLE [prescricao].[presc_farmaco]  WITH CHECK ADD FOREIGN KEY([numPresc])
REFERENCES [prescricao].[prescricao] ([numPresc])
GO
ALTER TABLE [prescricao].[presc_farmaco]  WITH CHECK ADD FOREIGN KEY([nomeFarmaco], [numRegFarm])
REFERENCES [prescricao].[farmaco] ([nome], [numRegFarm])
GO
ALTER TABLE [prescricao].[prescricao]  WITH CHECK ADD FOREIGN KEY([farmacia])
REFERENCES [prescricao].[farmacia] ([nome])
GO
ALTER TABLE [prescricao].[prescricao]  WITH CHECK ADD FOREIGN KEY([numMed])
REFERENCES [prescricao].[medico] ([numSNS])
GO
ALTER TABLE [prescricao].[prescricao]  WITH CHECK ADD FOREIGN KEY([numUtente])
REFERENCES [prescricao].[paciente] ([numUtente])
GO
ALTER TABLE [reserva_de_voos].[airplane]  WITH CHECK ADD FOREIGN KEY([Airplane_type])
REFERENCES [reserva_de_voos].[airplane_type] ([Type_name])
GO
ALTER TABLE [reserva_de_voos].[can_land]  WITH CHECK ADD FOREIGN KEY([Airplane_type])
REFERENCES [reserva_de_voos].[airplane_type] ([Type_name])
GO
ALTER TABLE [reserva_de_voos].[can_land]  WITH CHECK ADD FOREIGN KEY([Airport])
REFERENCES [reserva_de_voos].[airport] ([Airport_code])
GO
ALTER TABLE [reserva_de_voos].[fare]  WITH CHECK ADD FOREIGN KEY([Flight])
REFERENCES [reserva_de_voos].[flight] ([Number])
GO
ALTER TABLE [reserva_de_voos].[flight_leg]  WITH CHECK ADD FOREIGN KEY([Arrival_airport])
REFERENCES [reserva_de_voos].[airport] ([Airport_code])
GO
ALTER TABLE [reserva_de_voos].[flight_leg]  WITH CHECK ADD FOREIGN KEY([Departure_airport])
REFERENCES [reserva_de_voos].[airport] ([Airport_code])
GO
ALTER TABLE [reserva_de_voos].[flight_leg]  WITH CHECK ADD FOREIGN KEY([Flight])
REFERENCES [reserva_de_voos].[flight] ([Number])
GO
ALTER TABLE [universidade].[aconselha]  WITH CHECK ADD FOREIGN KEY([NMEC_x])
REFERENCES [universidade].[estudante] ([NMEC])
GO
ALTER TABLE [universidade].[aconselha]  WITH CHECK ADD FOREIGN KEY([NMEC_y])
REFERENCES [universidade].[estudante] ([NMEC])
GO
ALTER TABLE [universidade].[estudante]  WITH CHECK ADD FOREIGN KEY([Participa])
REFERENCES [universidade].[projeto] ([ID])
GO
ALTER TABLE [universidade].[projeto]  WITH CHECK ADD FOREIGN KEY([Gerido])
REFERENCES [universidade].[professor] ([NMEC])
GO
ALTER TABLE [universidade].[trabalha]  WITH CHECK ADD FOREIGN KEY([Localizacao])
REFERENCES [universidade].[departamento] ([Localizacao])
GO
ALTER TABLE [universidade].[trabalha]  WITH CHECK ADD FOREIGN KEY([MEC])
REFERENCES [universidade].[professor] ([NMEC])
GO
ALTER TABLE [agenda].[adulto]  WITH CHECK ADD  CONSTRAINT [check_emailA] CHECK  (([email] like '%_@__%.__%' OR [email] like NULL))
GO
ALTER TABLE [agenda].[adulto] CHECK CONSTRAINT [check_emailA]
GO
ALTER TABLE [agenda].[grau]  WITH CHECK ADD CHECK  (([Grau]>(0)))
GO
ALTER TABLE [agenda].[professor]  WITH CHECK ADD  CONSTRAINT [check_emailP] CHECK  (([email] like '%_@__%.__%'))
GO
ALTER TABLE [agenda].[professor] CHECK CONSTRAINT [check_emailP]
GO
ALTER TABLE [eletronica_de_medicamentos].[farmaceutica]  WITH CHECK ADD CHECK  (([N_registo_nacional]>=(0)))
GO
ALTER TABLE [eletronica_de_medicamentos].[farmacia]  WITH CHECK ADD CHECK  (([NIF]>=(0)))
GO
ALTER TABLE [eletronica_de_medicamentos].[medico]  WITH CHECK ADD CHECK  (([N_sns]>=(0)))
GO
ALTER TABLE [eletronica_de_medicamentos].[paciente]  WITH CHECK ADD CHECK  (([N_utente]>=(0)))
GO
ALTER TABLE [eletronica_de_medicamentos].[prescriçao]  WITH CHECK ADD CHECK  (([N_prescricao]>=(0)))
GO
ALTER TABLE [gestao_stock].[item]  WITH CHECK ADD CHECK  (([unidades]>(0)))
GO
ALTER TABLE [gestao_stock].[produto]  WITH CHECK ADD CHECK  (([iva]>=(0) AND [iva]<=(100)))
GO
ALTER TABLE [gestao_stock].[produto]  WITH CHECK ADD CHECK  (([preco]>(0)))
GO
ALTER TABLE [gestao_stock].[produto]  WITH CHECK ADD CHECK  (([unidades]>=(0)))
GO
ALTER TABLE [prescricao].[farmacia]  WITH CHECK ADD CHECK  (([Telefone]>(0)))
GO
ALTER TABLE [reserva_de_voos].[airplane]  WITH CHECK ADD CHECK  (([Total_no_of_seats]>(0)))
GO
ALTER TABLE [reserva_de_voos].[airplane_type]  WITH CHECK ADD CHECK  (([Max_seats]>(0)))
GO
ALTER TABLE [reserva_de_voos].[airport]  WITH CHECK ADD CHECK  (([Airport_code]>=(0)))
GO
ALTER TABLE [reserva_de_voos].[fare]  WITH CHECK ADD CHECK  (([Amount]>(0)))
GO
ALTER TABLE [reserva_de_voos].[fare]  WITH CHECK ADD CHECK  (([Code]>(0)))
GO
ALTER TABLE [reserva_de_voos].[flight]  WITH CHECK ADD CHECK  (([Number]>(0)))
GO
ALTER TABLE [reserva_de_voos].[flight_leg]  WITH CHECK ADD CHECK  (([Leg_no]>(0)))
GO
ALTER TABLE [universidade].[estudante]  WITH CHECK ADD CHECK  (([NMEC]>=(0)))
GO
ALTER TABLE [universidade].[professor]  WITH CHECK ADD CHECK  (([NMEC]>=(0)))
GO
ALTER TABLE [universidade].[projeto]  WITH CHECK ADD CHECK  (([ID]>=(0)))
GO
ALTER TABLE [universidade].[trabalha]  WITH CHECK ADD CHECK  (([Q_trabalho]>=(0) AND [Q_trabalho]<=(100)))
GO
/****** Object:  StoredProcedure [agenda].[aluno_encarregado]    Script Date: 11/06/2020 23:32:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec agenda.info_aluno 'Mariana Silva', '2010-06-12';
--encarregado de educação de um certo aluno
create proc [agenda].[aluno_encarregado] @nome varchar(70), @nasc date
as
	select adulto.nome as nome, phone
	from agenda.aluno join agenda.encarregado on aluno.id=id_aluno join agenda.adulto on phone=parent_phone
	where aluno.nome=@nome and nasc=@nasc
GO
/****** Object:  StoredProcedure [agenda].[anos_letivos]    Script Date: 11/06/2020 23:32:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec agenda.specific_class 4,'2019/2020';
--list de anos letivos
create proc [agenda].[anos_letivos]
as 

    select *
    from agenda.ano
GO
/****** Object:  StoredProcedure [agenda].[autorization]    Script Date: 11/06/2020 23:32:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [agenda].[autorization] (@user varchar(100), @pas varchar(64))
as
    select logins.tipo
    from agenda.logins
    where logins.username = @user and logins.pass = @pas
GO
/****** Object:  StoredProcedure [agenda].[class_id]    Script Date: 11/06/2020 23:32:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--declare @ide as int;
--exec agenda.student_id 'Mariana Silva', '2010-06-12', @ide OUTPUT;
--print @ide;

--sp que devolve id de turma pelo grau e o ano
create proc [agenda].[class_id] (@degree int, @year varchar(9), @classid int OUTPUT)
as
    select @classid = turma.id from agenda.turma with(index([turma_ano_grau]))
    where agenda.turma.ano = @year and agenda.turma.grau = @degree
GO
/****** Object:  StoredProcedure [agenda].[delete_aluno]    Script Date: 11/06/2020 23:32:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--deletar um aluno e todas as dependencias
create proc [agenda].[delete_aluno] @nome varchar(70), @nasc date
as
	declare @ide int
	exec agenda.student_id @nome, @nasc, @ide OUTPUT;
	if(agenda.aluno_pt(@ide)) = 1
		begin
			delete from agenda.pertence_turma where id_aluno = @ide
		end
	if(agenda.aluno_vv(@ide)) = 1
		begin
			delete from agenda.vai where id_aluno = @ide
		end
	if(agenda.aluno_ta(@ide)) = 1
		begin
			delete from agenda.tem where id_aluno = @ide
		end
	if(agenda.aluno_tp(@ide)) = 1
		begin
			delete from agenda.parente where id_aluno = @ide
		end
	if(agenda.aluno_te(@ide)) = 1
		begin
			delete from agenda.encarregado where id_aluno = @ide
		end
	if(agenda.aluno_psl(@ide)) = 1
		begin
			delete from agenda.levantado where id_aluno = @ide
		end
	delete from agenda.aluno where nome=@nome and nasc=@nasc
GO
/****** Object:  StoredProcedure [agenda].[delete_aluno_atividade]    Script Date: 11/06/2020 23:32:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--deletar aluno de uma atividade
create proc [agenda].[delete_aluno_atividade] @nome varchar(70), @nasc date, @atividade varchar(30)
as
	declare @ide int
	exec agenda.student_id @nome, @nasc, @ide OUTPUT;
	delete from agenda.tem where nome = @atividade
GO
/****** Object:  StoredProcedure [agenda].[delete_parente]    Script Date: 11/06/2020 23:32:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--deletar parente
create proc [agenda].[delete_parente] @nome varchar(70), @nasc date, @phone numeric(9)
as
	declare @ide int
	exec agenda.student_id @nome, @nasc, @ide OUTPUT;
	delete from agenda.parente where id_aluno = @ide and parent_phone = @phone
GO
/****** Object:  StoredProcedure [agenda].[info_adulto]    Script Date: 11/06/2020 23:32:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec agenda.aluno_encarregado 'Pedro Henriques','2010-06-12';
--informaçao de um adulto
create proc [agenda].[info_adulto] @phone numeric(9)
as
	select * from agenda.adulto
	where phone=@phone
GO
/****** Object:  StoredProcedure [agenda].[info_aluno]    Script Date: 11/06/2020 23:32:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec agenda.student_visita 'Mariana Silva', '2010-06-12';
--informaçao de um aluno
create proc [agenda].[info_aluno] @nome varchar(70), @nasc date
as
	select * from agenda.aluno
	where nome=@nome and nasc=@nasc
GO
/****** Object:  StoredProcedure [agenda].[info_parente]    Script Date: 11/06/2020 23:32:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec agenda.info_adulto 935559211;
--informaçao do parentesco de um adulto em relaçao a um aluno
create proc [agenda].[info_parente] @nome varchar(70), @nasc date, @phone numeric(9)
as
	declare @ide int;
	exec agenda.student_id @nome, @nasc, @ide output;

	select parentesco from agenda.parente
	where id_Aluno=@ide and parent_phone=@phone
GO
/****** Object:  StoredProcedure [agenda].[insert_adulto]    Script Date: 11/06/2020 23:32:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [agenda].[insert_adulto]
@nome varchar(70),
@morada varchar(100),
@phone numeric(9),
@email varchar(50) = null,
@hphone numeric(9) = null,
@wphone numeric(9) = null,
@ltrabalho varchar(100) = null,
@profissao varchar(50) = null
as
	insert into agenda.adulto
	values (@nome, @morada, @phone, @hphone, @wphone, @email, @ltrabalho, @profissao)
GO
/****** Object:  StoredProcedure [agenda].[insert_adulto_encarregado]    Script Date: 11/06/2020 23:32:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec agenda.insert_adulto_levantado 'João Santos', '2010-06-12', 920555495;
--inserir encarregado
create proc [agenda].[insert_adulto_encarregado]
@nome varchar(70),
@nasc date,
@phone numeric(9)
as
	declare @ide int
	exec agenda.student_id @nome, @nasc, @ide OUTPUT;
	if(select count(*) from agenda.encarregado where id_aluno = @ide) = 0
		begin
			insert into agenda.encarregado
			values (@ide, @phone)
		end
	else
		begin
			delete from agenda.encarregado where id_aluno = @ide
			insert into agenda.encarregado
			values (@ide, @phone)
		end
GO
/****** Object:  StoredProcedure [agenda].[insert_adulto_levantado]    Script Date: 11/06/2020 23:32:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec agenda.insert_adulto_parente 'João Santos', '2010-06-12', 920555495, 'mãe';
--inserir levantado
create proc [agenda].[insert_adulto_levantado]
@nome varchar(70),
@nasc date,
@phone numeric(9)
as
	declare @ide int
	exec agenda.student_id @nome, @nasc, @ide OUTPUT;
	insert into agenda.levantado
	values (@ide, @phone)
GO
/****** Object:  StoredProcedure [agenda].[insert_adulto_parente]    Script Date: 11/06/2020 23:32:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec agenda.update_adulto 965557014, 'Afonso Henriques', 'Rua do Castanhal Pousos', 965557014;
--inserir parentesco
create proc [agenda].[insert_adulto_parente]
@nome varchar(70),
@nasc date,
@phone numeric(9),
@parente varchar(10)
as
	declare @ide int
	exec agenda.student_id @nome, @nasc, @ide OUTPUT;
	if(select count(*) from agenda.parente where id_aluno = @ide and parent_phone = @phone) = 0
		begin
			insert into agenda.parente
			values (@ide, @phone,@parente)
		end
	else
		begin
			exec agenda.delete_parente @nome,@nasc,@phone
			insert into agenda.parente
			values (@ide, @phone,@parente)
		end
GO
/****** Object:  StoredProcedure [agenda].[insert_aluno]    Script Date: 11/06/2020 23:32:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--sp para alterar ou inserir alunos
create proc [agenda].[insert_aluno]
@nome varchar(70),
@morada varchar(100),
@nasc date,
@problemas varchar(100) = null,
@medicacao varchar(100) = null,
@restricao varchar(100) = null,
@antipiretico varchar(100) = null
as
	if(select count(*) from agenda.aluno where nome=@nome and nasc=@nasc) = 0
		begin
			insert into agenda.aluno (nome, morada, nasc, problemas, medicacao, restricao, antipiretico)
			values (@nome, @morada, @nasc, @problemas, @medicacao, @restricao, @antipiretico)
		end
	else
		begin
			update agenda.aluno
			set nome=@nome, morada=@morada, nasc=@nasc, problemas=@problemas, medicacao=@medicacao, restricao=@restricao, antipiretico=@antipiretico
			where nome=@nome and nasc=@nasc
		end
GO
/****** Object:  StoredProcedure [agenda].[insert_ano]    Script Date: 11/06/2020 23:32:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec agenda.insert_grau 2;
--Insert ano_letivo
create proc [agenda].[insert_ano] @ano varchar(9)
as
	insert into agenda.ano values(@ano)
GO
/****** Object:  StoredProcedure [agenda].[insert_atividade]    Script Date: 11/06/2020 23:32:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec agenda.insert_tem 'Maria João Henriques', '2010-06-12', 'natação';
--Insert atividade
create proc [agenda].[insert_atividade] @nome varchar(30)
as
	insert into agenda.atividade values(@nome)
	
GO
/****** Object:  StoredProcedure [agenda].[insert_grau]    Script Date: 11/06/2020 23:32:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Insert grau
create proc [agenda].[insert_grau] @grau int
as
	insert into agenda.grau values(@grau)
GO
/****** Object:  StoredProcedure [agenda].[insert_orientado]    Script Date: 11/06/2020 23:32:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec agenda.insert_turma 1,'2019/2020','lurdes.m@gmail.com';
--insert orientado
create proc [agenda].[insert_orientado] @nome varchar(30), @prof_mail varchar(50)
as
	declare @ide int
	exec agenda.prof_id @prof_mail ,@ide OUTPUT
	if(select count(*) from agenda.orientado where nome=@nome) = 0
		begin
			insert into agenda.orientado values(@nome,@ide)
		end
	else
		begin
			update agenda.orientado
			set nome=@nome, id_prof=@ide
			where nome=@nome
		end
GO
/****** Object:  StoredProcedure [agenda].[insert_pertence_turma]    Script Date: 11/06/2020 23:32:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec agenda.insert_orientado'futebol', 'c.costam@gmail.com';
--Insert pertence_turma(nome, data, anoletivo, grau)
create proc [agenda].[insert_pertence_turma] @nome varchar(70), @nasc date, @ano varchar(9), @grau int
as
	declare @ide int
	declare @idt int
	exec agenda.student_id @nome, @nasc, @ide OUTPUT;
	exec agenda.class_id @grau, @ano, @idt OUTPUT;
	if(select count(*) from agenda.pertence_turma join agenda.turma on id=id_turma where id_aluno = @ide and ano = @ano) = 0
		begin
			insert into agenda.pertence_turma values(@ide, @idt)
		end
	else
		begin
			declare @ids int
			select @ids=id_turma from agenda.pertence_turma join agenda.turma on id=id_turma where id_aluno = @ide and ano = @ano
			update agenda.pertence_turma
			set id_aluno=@ide, id_turma=@idt
			where id_aluno=@ide and id_turma=@ids
		end
GO
/****** Object:  StoredProcedure [agenda].[insert_professor]    Script Date: 11/06/2020 23:32:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec agenda.insert_pertence_turma'Maria João Henriques', '2010-06-12', '2019/2020', 4;
--Insert professor
create proc [agenda].[insert_professor]
@nome varchar(70),
@phone numeric(9),
@email varchar(50)
as
	insert into agenda.professor values(@nome, @phone, @email)

GO
/****** Object:  StoredProcedure [agenda].[insert_tem]    Script Date: 11/06/2020 23:32:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec agenda.insert_visita 'João Santos', '2020-06-03', '00:00:00', '00:00:00';
--Insert pertence atividade(nome, data, nomeatividade)
create proc [agenda].[insert_tem] @nome varchar(70), @nasc date, @atividade varchar(30)
as
	declare @ide int
	exec agenda.student_id @nome, @nasc, @ide OUTPUT;
	insert into agenda.tem values(@ide, @atividade)
GO
/****** Object:  StoredProcedure [agenda].[insert_turma]    Script Date: 11/06/2020 23:32:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec agenda.insert_atividade 'natação';
--Insert turma(tudo, mail do prof)
create proc [agenda].[insert_turma] @grau int, @ano varchar(9), @prof_mail varchar(50)
as
	declare @ide int
	exec agenda.prof_id @prof_mail ,@ide OUTPUT
	if(select count(*) from agenda.turma where grau=@grau and ano=@ano) = 0
		begin
			insert into agenda.turma values(@grau, @ano, @ide)
		end
	else
		begin
			update agenda.turma
			set grau=@grau, ano=@ano, id_prof=@ide
			where grau=@grau and ano=@ano
		end
GO
/****** Object:  StoredProcedure [agenda].[insert_vai]    Script Date: 11/06/2020 23:32:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Insert vai(nome,datanasc,datavisita)
create proc [agenda].[insert_vai] @nome varchar(70), @nasc date, @visita date
as
	declare @ide int
	exec agenda.student_id @nome, @nasc, @ide OUTPUT;
	insert into agenda.vai values(@ide, @visita)

GO
/****** Object:  StoredProcedure [agenda].[insert_visita]    Script Date: 11/06/2020 23:32:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec agenda.insert_vai 'João Santos', '2010-06-12', '2020-06-02';
--Insert visita de estudo
create proc [agenda].[insert_visita] @nome varchar(100), @data date, @partida time, @chegada time
as
	insert into agenda.visita values(@nome, @data, @partida, @chegada)

GO
/****** Object:  StoredProcedure [agenda].[prof_id]    Script Date: 11/06/2020 23:32:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--declare @classid as int;
--exec agenda.class_id 1, '2019/2020', @classid OUTPUT;
--print @classid;

--sp para retornar id de um prof atraves do mail
create proc [agenda].[prof_id] (@mail varchar(50), @profid int OUTPUT)
as
    select @profid = professor.id from agenda.professor
    where professor.email = @mail
GO
/****** Object:  StoredProcedure [agenda].[prof_turmas]    Script Date: 11/06/2020 23:32:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec agenda.todos_profs
--Lista de turmas e professor
create proc [agenda].[prof_turmas]
as
	select turma.id as class_id, ano, grau, professor.id as prof_id, professor.nome, professor.email, professor.phone
	from agenda.turma join agenda.professor on id_prof=professor.id
GO
/****** Object:  StoredProcedure [agenda].[profs_atividade]    Script Date: 11/06/2020 23:32:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec agenda.visitas;
--Lista de atividade extracurricular e professor
create proc [agenda].[profs_atividade]
as
	select atividade.nome as atividade, professor.nome as prof, email 
	from agenda.atividade left join agenda.orientado on atividade.nome=orientado.nome left join agenda.professor on professor.id=orientado.id_prof
GO
/****** Object:  StoredProcedure [agenda].[specific_class]    Script Date: 11/06/2020 23:32:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [agenda].[specific_class] (@degree int, @year varchar(9))
as
    declare @cid as int;
    exec agenda.class_id @degree,@year,@cid OUTPUT;

    select aluno.nome, aluno.nasc from agenda.pertence_turma
    join agenda.aluno on aluno.id = pertence_turma.id_aluno
    where agenda.pertence_turma.id_turma = @cid
GO
/****** Object:  StoredProcedure [agenda].[student_atividade]    Script Date: 11/06/2020 23:32:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec agenda.prof_turmas;
--Atividades a que pertence certo aluno
create proc [agenda].[student_atividade] @nome varchar(70), @nasc date
as
	declare @ide int
	exec agenda.student_id @nome, @nasc, @ide OUTPUT;
	select atividade.nome from agenda.atividade join agenda.tem on atividade.nome=tem.nome
	where tem.id_aluno=@ide
GO
/****** Object:  StoredProcedure [agenda].[student_id]    Script Date: 11/06/2020 23:32:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [agenda].[student_id] (@name varchar(70), @birthday date, @ide int OUTPUT)
as 
    select @ide = aluno.id from agenda.aluno with(index([aluno_nome_data])) 
    where agenda.aluno.nome = @name and agenda.aluno.nasc = @birthday
GO
/****** Object:  StoredProcedure [agenda].[student_related]    Script Date: 11/06/2020 23:32:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec agenda.info_parente 'Mariana Silva', '2010-06-12', 929455557;
--sp para adultos relacionados a certo aluno
create proc [agenda].[student_related] (@name varchar(70), @birthday date)
as
    declare @sid as int;
    exec agenda.student_id @name,@birthday,@sid OUTPUT;

    select aluno.nome as aluno, adulto.nome as adulto, phone from agenda.adulto
                                join agenda.levantado on phone=levantado.parent_phone
                                join agenda.aluno on id=id_aluno
    where aluno.id=@sid
GO
/****** Object:  StoredProcedure [agenda].[student_visita]    Script Date: 11/06/2020 23:32:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec agenda.student_atividade 'Mariana Silva', '2010-06-12';
--Visitas a que pertence certo aluno
create proc [agenda].[student_visita] @nome varchar(70), @nasc date
as
	declare @ide int
	exec agenda.student_id @nome, @nasc, @ide OUTPUT;
	select visita.nome, data from agenda.visita join agenda.vai on data=vai.visita
	where vai.id_aluno=@ide
GO
/****** Object:  StoredProcedure [agenda].[todos_alunos]    Script Date: 11/06/2020 23:32:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec agenda.anos_letivos;
--lista de alunos
create proc [agenda].[todos_alunos]
as
	select * from agenda.aluno
GO
/****** Object:  StoredProcedure [agenda].[todos_profs]    Script Date: 11/06/2020 23:32:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec agenda.profs_atividade;
--lista de professores
create proc [agenda].[todos_profs]
as
	select * from agenda.professor
GO
/****** Object:  StoredProcedure [agenda].[update_adulto]    Script Date: 11/06/2020 23:32:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec agenda.insert_aluno 123,123,2;
--exec agenda.insert_aluno 'João Santos', 'Rua Assunção Guimarota nº5', '2010-06-12', 'asma', 'inalador', 'gluten';
--atualizar adulto
create proc [agenda].[update_adulto]
@uphone numeric(9),
@nome varchar(70),
@morada varchar(100),
@phone numeric(9),
@email varchar(50) = null,
@hphone numeric(9) = null,
@wphone numeric(9) = null,
@ltrabalho varchar(100) = null,
@profissao varchar(50) = null
as
	if @uphone=@phone
		begin
			update agenda.adulto
			set nome=@nome, morada=@morada, hphone=@hphone, wphone=@wphone, email=@email, ltrabalho=@ltrabalho, profissao=@profissao
			where phone=@uphone
		end
	else
		begin
			update agenda.adulto
			set nome=@nome, morada=@morada, phone=@phone, hphone=@hphone, wphone=@wphone, email=@email, ltrabalho=@ltrabalho, profissao=@profissao
			where phone=@uphone
		end
GO
/****** Object:  StoredProcedure [agenda].[update_professor]    Script Date: 11/06/2020 23:32:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec agenda.insert_professor 'Calisto Costa', 915555539, 'c.costa@gmail.com';
--atualizar prof
create proc [agenda].[update_professor]
@nome varchar(70),
@phone numeric(9),
@email varchar(50),
@ide int
as
	update agenda.professor
	set nome=@nome, phone=@phone, email=@email
	where id = @ide
GO
/****** Object:  StoredProcedure [agenda].[visitas]    Script Date: 11/06/2020 23:32:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec agenda.todos_alunos;
--Lista de visitas de estudo
create proc [agenda].[visitas]
as
	select *
	from agenda.visita
GO
/****** Object:  StoredProcedure [company].[gestores]    Script Date: 11/06/2020 23:32:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--a)
--create proc company.del_workers
--	@ssn_del int
--as
--	begin
--		select concat(Fname, ' ', Minit, ' ', Lname) as nome from employee where Ssn = @ssn_del
--		delete from company.works_on where Essn = @ssn_del
--		delete from company.employee where nome = Dependent_name
--	end
--go
--exec company.Del_workers 1;
--go
--b)
CREATE proc [company].[gestores]
	@man_ssn int output,
	@man_anos int output
as
	begin
		select concat(Fname, ' ', Minit, ' ', Lname) as Nome, Ssn
		from company.employee;
		select top 1 @man_ssn = Mgr_ssn, @man_anos = datediff(year, Mgr_start_date, '2020-5-17')
		from company.department
		order by Mgr_start_date;
	end
GO
/****** Object:  Trigger [company].[salario]    Script Date: 11/06/2020 23:32:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [company].[salario] ON [company].[employee]
AFTER INSERT, UPDATE
AS
BEGIN
	UPDATE company.employee
	SET Salary = outlier_employees.Salary - 1
	FROM
		(SELECT i.Ssn, e.Salary
		FROM inserted AS i JOIN employee AS e ON i.Super_ssn = e.Ssn
		WHERE i.Salary >= e.Salary) AS outlier_employees
	WHERE company.employee.Ssn = outlier_employees.Ssn;
END
GO
ALTER TABLE [company].[employee] ENABLE TRIGGER [salario]
GO
USE [master]
GO
